# Drizzle / Turso
TURSO_DATABASE_URL="libsql://your-db.turso.io"
TURSO_AUTH_TOKEN=""

ORIGIN=""
AUTHZ_BYPASS="true"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# S3 / R2
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_BUCKET=""
S3_ENDPOINT=""
S3_REGION="auto"
S3_FORCE_PATH_STYLE="true"
